.navbar{
    background-color: rgba(255, 255, 255, 0.222);
}
.navbar-burger{
    margin-top: 10px;
    
}
.navbar-menu{
    transition: .5s ease;
}
.navbar-item{
    transition: .5s ease;
}
.navbar-brand{
    font-family: var(--ff-secondary);
    padding: 9px;
    transition: .5s ease;
}
.navbar{
    background-color: white;
}