.projects {
  /* display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 10px; */
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(40%, 1fr));
  gap: 20px;
  justify-items: center;
}
.project-card {
  width: 90%;
  height: 14rem;
  margin: 10px;
  background-size: cover;
  border: solid 5px var(--clr-accent);
  border-radius: 10px;
}
.card-header {
  padding: 0.25rem;
}

.project-name {
  font-weight: 700;
  color: white;
  font-style: italic;
}
.card-header {
  background-color: var(--clr-accent);
}
.card-buttons {
  align-items: center;
}

/* Responsivness */

/* Tablet  */
@media (min-width: 601px) and (max-width: 1024px) {
  .projects {
    grid-template-columns: repeat(auto-fill, minmax(45%, 1fr));
  }
}

/* mobile */
@media (max-width: 600px) {
  .project-card {
    width: 80%;
    height: 13rem;
    margin: 5px;
    background-size: cover;
    border: solid 5px var(--clr-accent);
    border-radius: 10px;
  }
  .projects {
    grid-template-columns: 100%;
  }
  #projects {
    height: 175vh;
  }
}
