:root {
  /* font-family */
  --ff-primary: Avenir, Arial;
  --ff-secondary: Monospace, Arial;
  /* font-weight */
  --fw-reg: 300;
  --fw-bold: 700;
  /* colors */
  --clr-primary: #2c4268;
  --clr-secondary: #ffffff;
  --clr-terziary: #282d72;
  --clr-accent: rgb(77, 97, 147);
  --clr-background: #ffffff;
  /* font size */
  --fs-h1: 3rem;
  --fs-h2: 2.25rem;
  --fs-h3: 1.25rem;
  --fs-p: 1rem;
  --fs-mob: 0.8rem;
}
*::after {
  font-family: var(--ff-primary);
  box-sizing: border-box;
}

* {
  transition: 0.75s ease;
}
a {
  transition: 0.4s;
}

/* DEBUG */
/* * {
  outline: 1px solid red;
} */


/* DESKTOP */
.section {
  height: 100vh;
  padding-top: 110px;
  padding-bottom: 110px
}
html {
  scroll-behavior: smooth;
}

body {
  background: var(--clr-background);
  color: var(--clr-terziary);
  margin: 0;
  font-family: var(--ff-primary);
  font-size: var(--fs-p);
  line-height: 1.6;
}
img {
  display: block;
  max-width: 100%;
}

/* typography */
h1,
h2,
h3 {
  line-height: 1.1;
  margin: 0;
}

h1 {
  font-size: var(--fs-h1);
}
h2 {
  font-size: var(--fs-h2);
}
h3 {
  font-size: var(--fs-h3);
}

.title {
  color: var(--clr-primary);
  font-family: var(--ff-primary);
  font-style: italic;
}
.subtitle {
  margin: 0;
  font-size: var(--fs-h3);
  color: var(--clr-primary);
}
.section-color > .title {
  color: var(--clr-secondary);
}
.section-color > .subtitle {
  color: var(--clr-secondary);
}
p {
  color: var(--clr-secondary);
  font-size: var(--fs-p);
}
footer {
  height: 3vh;
}
.last-section {
  height: 80vh;
}
strong {
  font-weight: var(--fw-bold);
  color: var(--clr-primary);
}
.section-white > a {
  color: var(--clr-primary);
}
.section-color > a {
  color: var(--clr-secondary);
}

/* SECTIONS */
.section-color {
  background: var(--clr-accent);
}
#block {
  height: 70px;
  background-color: var(--clr-accent);
}
a {
  margin: 10px;
  padding: 3px;
}
/* a:hover {
  border-style: solid;
  border-color: var(--clr-accent);
  border-radius: 10px;
  margin: 9px;
  padding: 0px
} */

.home-avatar {
  border-radius: 1000px;
  width: 40vh;
  margin-top: 30%;
  border: .5rem solid white; 
  padding: .5rem;
}
.aboutme-avatar {
  border-radius: 1000px;
  width: 40vh;
  margin-top: 2rem;
  margin-bottom: 3rem  !important;
  border: .5rem solid var(--clr-accent); 
  padding: .5rem;
}
.intro-col {
  margin-top: 30vh;
}
.intro-code {
  font-family: var(--ff-secondary);
  color: var(--clr-secondary);
}

.title-intro {
  color: white;
  font-size: 2rem;
}
/* icons */

.footer-content {
  color: var(--clr-accent);
}
.project-link {
  margin: 5px;
}
/* .project-link:hover {
  border-width: 5px;
  margin: 0;
} */
.footer-link {
  display: inline;
}
.footer-icon {
  display: inline;
}
/* .footer-link:hover {
  border: none;
} */
.column {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-bottom: 0;
}
.columns-project {
  /* display:flex; */
  /* align-items: center ; */
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}
#intro-column {
  display: flex;
  justify-content: left;
  flex-direction: column;
  align-items: left;
  text-align: left;
  margin-left: 20px;
}
.button {
  background-color: var(--clr-accent);
  color: white;
}
/* .button:hover {
  background-color: var(--clr-accent);
  color: white;
} */
.contact-icon {
  background-color: white;
  border-radius: 100px;
  padding: 10px;
  border: 2px solid black;
}
 .contact-icon:hover {
  transform: scale(1.2);
  margin-left: .5rem;
  margin-right: .5rem;
} 
.contact-icon-mail:hover {
 transform: scale(1.2);
 margin-left: .5rem;
 margin-right: .5rem;
} 
.contact-icon-resume:hover {
 transform: scale(1.2);
 margin-left: .5rem;
 margin-right: .5rem;
} 
.contact-icon-mail {
  background-color: white;
  border-radius: 20px;
  padding: 10px;
  border: 2px solid black;
}
/* .contact-icon-mail:hover {
  border: 2px solid white;
} */
/* .contact-icon:hover {
  border: 2px solid white;
} */
.contact-link {
  color: white;
}
/* .contact-link:hover {
  color: white;
  border: 5px solid white;
} */
.contact-column-1 {
  padding-top: 10vh;
}
.contact-columns {
  display: flex;
  flex-direction: row;
  justify-content: center;
  /* flex-wrap: wrap */
}

.center {
  margin: 10px auto;
}
.aboutme-p {
  color: var(--clr-accent);
  font-size: var(--fs-p);
}

@media (max-width: 769px) {
  /* p.intro-code{
        font-size: 1.15rem
    } */
}

/* Tablet  */
@media (min-width: 601px) and (max-width: 1024px) {
  .section {
    height: auto;
    /* padding-top: 90px; */
  }
}

/* mobile */
@media (max-width: 600px) {
  :root {
    --fs-h1: 4.5rem;
    --fs-h2: 3.75rem;
    --fs-h3: 1.5rem;
    --fs-p: 1.125rem;
  }
  .avatar {
    align-self: center;
    margin-top: 10vh;
  }
  .intro-col {
    margin-top: 1rem;
  }
  .section {
    height: auto;
  }
  .aboutme-p {
    font-size: var(--fs-mob);
  }
}
